# Dependencies
node_modules/
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/
/.open-next/
/.npm-cache/

# Production
/build
/dist

# Firebase
.firebase/
firebase-functions/node_modules/
*-debug.log*
.firebaserc
eduresourcehub-73f9b-firebase-adminsdk-fbsvc-ce5cd52668.json

# Local env files
.env*.local
.env
.dev.vars
.dev.vars.*
!.dev.vars.example

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
*.pem
*.log
.gemini/
.wrangler/
.github/
.scripts/

# Keep documentation logs versioned
!Documents/*.log
!Documents/**/*.log

# Google Drive
client_secret_834792094975-vlaen0i3rcd87udlflogr5skj3u11n1n.apps.googleusercontent.com.json
helical-clock-454307-p9-7337ef3575f6.json